* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************** Body **************/
body {
    padding: 50px;
}

/************** Header **************/
// header {
//     nav{

//     }
// }

/************** Wrapper **************/
// .wrapper {
    
// }

.list-entr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 300px;
}
/************** Footer *************/
// footer {

// }


