{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    {% for employe in employes %}
        <a href=" {{ path('show_employe', {'id': employe.id}) }}">{{employe}}</a><br>
    {% endfor %}
{% endblock %}
