{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    {% for employe in employes %}
        <a href="">{{employe}}</a> {{employe.entreprise.raisonSociale}}<br>
    {% endfor %}
{% endblock %}
